body{
  background-image:url('../assets/NY-background-photo.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height:100vh;
  z-index:0;
  font-family:roboto;
}

a{
  color:inherit;
  text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

