body{
  background-image:url('../assets/NY-background-photo.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height:100vh;
  z-index:0;
}

a{
  color:inherit;
  text-decoration:none;
}