.tripday-flexbox{
  display:flex;
  flex-direction: column;
}

.tripday{
  display:flex;
  color:black;
  font-weight:bold;
  font-size:40px;
  align-items: center;
  justify-content: center;
  margin-top:80px;
  margin-bottom:20px;
}

.page-dia3 .tripday,
.page-dia2 .tripday{
  color:white;
}

.trip{
  display:flex;
  height:170px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  
  margin-top:10px;
}
.page-dia1 .trip{
  background-color:rgba(4, 231, 136, 0.550);
}

.page-dia2 .trip{
  background-color:rgb(255, 0, 0,0.7);
}

.page-dia3 .trip{
  background-color: rgb(0, 0, 255,0.5);
}
/*laranja background-color:rgba(231, 140, 4, 0.4)*/

.trip-photo{
  height: 170px;
  width:300px;
}

.trip-info{
  color:black;
  font-size:20px;
  justify-content: center;
  align-items: center;
  width:100%;
}
.page-dia3 .trip-info,
.page-dia2 .trip-info{
  color:white;
}


.trip-name{
  display:flex;
  justify-content: center;
  align-items: center;
  height:40px;
  border-width:1px;
  border-bottom-color: rgba(0,0,0,0.3);
  border-bottom-style:solid;
  font-weight:700;
  font-size:22px;
}

.trip-location{
  display:flex;
  align-items: center;
  justify-content: center;
  height:30px;
  margin-bottom:10px;
  font-weight:500;
  border-bottom-color: rgba(0,0,0,0.2);
  border-bottom-style:solid;
  border-width:1px;
}

.trip-opening-hours{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}



.open-hour{
  color:green;
  font-weight:700;
  margin-right:5px;

  background-color: rgb(255, 255, 255,0.5);
  border-radius: 15px;
  padding:1px 5px;
}

.close-hour{
  color:red;
  font-weight:700;
  margin-left:5px;

  background-color: rgb(255, 255, 255,0.5);
  border-radius: 15px;
  padding:1px 5px;
}

.trip-link-buttons{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left:20px;
  font-family:Arial;
  transition: opacity 0.15s;
}

.information-button{
  border-radius:20px;
  font-size:16px;
  padding-left:18px;
  padding-right:18px;
  padding-top:7px;
  padding-bottom:7px;
  margin-right:0px;
  border:none;
  background-color: rgb(29, 155, 240);
  color:white;
  margin-right:50px;
  
}
.google-maps-button:hover,
.information-button:hover{
  opacity:0.7;
  box-shadow: 2px 2px 5px rgba(0,0,0,4);
}

.google-maps-button{
  border-radius:20px;
  font-size:16px;
  padding-left:18px;
  padding-right:18px;
  padding-top:7px;
  padding-bottom:7px;
  
  border:none;
  background-color: rgb(8, 201, 8);
  color:black;
}

.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap:100px;
  padding-left:95px;
  padding-top:200px;
}

.inicial-flexbox-tripday{
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  height:200px;
  width:250px;
}

.inicial-flexbox-tripday:hover{
  box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.inicial-tripday-photo{
  height:170px;
  width:250px;
}

.inicial-flexbox-tripday-info{
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
}